<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <h1><a class="navbar-brand" href="index"><span class="fa fa-area-chart"></span> Aamir<span class="dashboard_text">Design dashboard</span></a></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
              <a href="index">
              <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>
            
           
           
            </li>
           <!-- <li class="treeview">
              <a href="#">
              <i class="fa fa-edit"></i> <span>Forms</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="form"><i class="fa fa-angle-right"></i> General Forms</a></li>
                <li><a href="validation.html"><i class="fa fa-angle-right"></i> Form Validations</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
              <i class="fa fa-table"></i> <span>Tables</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="display"><i class="fa fa-angle-right"></i> Simple tables</a></li>
              </ul>
            </li>
          </li>
          <li class="treeview">
            <a href="changepassword">
            <i class="fa fa-edit"></i> <span>Change Password</span>
            <i class="fa fa-angle-left pull-right"></i>
            </a>-->
            <!--Admin dashboard all table details start-->
            <li class="treeview">
              <a href="Admindisplay">
              <i class="fa fa-edit"></i> <span>Admin</span>
              </a>
              <li class="treeview">
                <a href="userdisplay">
                <i class="fa fa-edit"></i> <span>User</span>
            </a>
            <li class="treeview">
              <a href="contactdisplay">
              <i class="fa fa-edit"></i> <span>Contact</span>
          </a>
          <li class="treeview">
            <a href="categorydisplay">
            <i class="fa fa-edit"></i> <span>Category</span>
        </a>
                <!--Admin dashboard all table details End-->
           
        <!-- /.navbar-collapse -->
    </nav>
  </aside>
  </div>